<html>
  <head>
  </head>
  <body>
    {% if message is defined %}
    <script>
      alert("{{message}}");
    </script>
    {% endif %}
    <h1>SAS INFOSec Club CTF Game</h1>
    <p>
      Welcome to the SAS INFOSec Club CTF Game. The following are some links for you to get started.
    </p>
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>
    <p><a href="/scoreboard">Scoreboard</a></p>
    <h5>Challenge Types</h5>
    <p><a href="/Challenges/Crypto">Crypto</a></p>
    <p><a href="/Challenges/Forensics">Forensics</a></p>
    <p><a href="/Challenges/LFI">File Inclusion</a></p>
    <p><a href="/Challenges/LoginPanels">Login Panels</a></p>
    <p><a href="/Challenges/OSINT">Open Source Intelligence</a></p>
    <p><a href="/Challenges/Stenography">Stenography</a></p>
    <p><a href="/Challenges">MISC</a></p>
  </body>
</html>
